## ENEM TRATADO 2019

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
enem_sp = pd.read_csv('/content/drive/MyDrive/enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')
enem_sp.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim

In [ ]:
len(mulher_enem)

In [ ]:
p = len(mulher_enem) / len(enem_sp)
p

NameError: name 'mulher_enem' is not defined

In [ ]:
# PROBABILIDADE DE RETIRAR EXATAMENTE 4 MULHERES NUM TOTAL DE 10 AMOSTRAS

binom>pmf(4,10,p)

#primeiro parametro: valor ou limite que se esta pretendendo calcular
#segundo: numeor de tentativas
#terceiro: probabilidade de sucesso

In [ ]:
# PROBABILIDADE DE RETIRAR PELO MENOS UMA MULHER NUM TOTAL DE 10 AMOSTRAS

p0 = 1 - binom.pmf(0,10,p)
p0

In [ ]:
# PROBABILIDADE DE RETIRAR MAIS DE DUAS MULHERES NUM TOTAL DE 10 AMOSTRAS

p1 = 1 - (binom.pmf(0,10,p)+binom.pmf(1,10,p)+binom.pmf(2,10,p))
p1

In [ ]:
# USANDO ACUMULATIVA
p1 = 1 - binom.cdf(2,10,p)
p1

In [ ]:
# PROBABILIDADE DE RETIRAR MAIS DO QUE 3 MULHERES NUM TOTAL DE 10 PESSOAS   (USANDO ACUMULATIVA)

p3 = 1 - binom.cdf(3,10,p)
p3

In [ ]:
# PROBABILIDADE DE RETIRAR MAIS DO QUE 8 MULHERES NUM TOTAL DE 10 AMOSTRAS

p4 = binom.cdf(10,10,p) - binom.cdf(8,10,p)
p4

In [ ]:
# OUTRA FORMA (MELHOR FORMA)
p4 = binom.pmf(9,10,p)+binom.pmf(10,10,p)
p4

## DISTRIBUIÇÃO GEOMÉTRICA

In [ ]:
from scipy.stats import geom

In [ ]:
# PROBABILIDADE DE RETIRAR UMA MULHER NA QUARTA TENTATIVA
# geom.pmf(x,p) x representa a tentativa que se obteve sucesso e p a probabilidade

geom.pmf(4, p)

## DISTRIBUIÇÃO DE POISSON

In [ ]:
from scipy.stats import poisson

In [ ]:
poisson.pmf(2,5)

0.08422433748856832

In [ ]:
EXATAMENTE 2 PMF
ATE DUAS cmf

## DISTRIBUIÇÃO CONTÍNUA

In [ ]:
from scipy.stats import norm

In [ ]:
norm.cdf(4.5, loc=4.8, scale=0.5)

0.27425311775007366

###QUAL A PROBABILIDADE DE SORTEAR UMA PESSOA COM IDADE INFERIOR A 17 ANOS NO ENEM 2019? CONSIDERANDO DISTRIBUIÇÃO NORMAL

In [ ]:
enem_sp.IDADE.mean()

20.593387206464776

In [ ]:
enem_sp.IDADE.std()

6.465291136130305

In [ ]:
norm.cdf(17, loc=enem_sp.IDADE.mean(), scale=enem_sp.IDADE.std())

0.28917493520696647

##QUAL A PROBABILIDADE DE SORTEAR UMA PESSOA COM IDADE SUPERIOR A 50 ANOS NO ENEM 2019?

In [ ]:
from scipy.stats import norm

mean_idade = enem_sp.IDADE.mean()
std_idade = enem_sp.IDADE.std()

probabilidade = 1 - norm.cdf(50, loc=mean_idade, scale=std_idade)

print(probabilidade)

2.702999116643845e-06

In [ ]:
sup = 1 - (norm.cdf(50, loc=enem_sp.IDADE.mean(), scale=enem_sp.IDADE.std()))
sup

##QUAL A PROBABILIDADE DE SORTEAR UMA PESSOA COM IDADE ENTRE 20 E 30 ANOS NO ENEM 2019?

In [ ]:
entre = - (norm.cdf(50, loc=enem_sp.IDADE.mean(), scale=enem_sp.IDADE.std()))
entre

NameError: name 'norm' is not defined