## ENEM TRATADO 2019

In [3]:
import numpy as np
import pandas as pd

In [4]:
enem_sp = pd.read_csv('/content/drive/MyDrive/enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')
enem_sp.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim

In [9]:
mulher_enem = enem_sp[enem_sp['SEXO'] == 'F']

In [10]:
len(mulher_enem)

290122

In [11]:
p = len(mulher_enem) / len(enem_sp)
p

0.5803136376365163

In [14]:
from scipy.stats import binom

In [19]:
# PROBABILIDADE DE RETIRAR EXATAMENTE 4 MULHERES NUM TOTAL DE 10 AMOSTRAS

probabilidade = binom.pmf(4, 10, p)
print(probabilidade)

#primeiro parametro: valor ou limite que se esta pretendendo calcular
#segundo: numeor de tentativas
#terceiro: probabilidade de sucesso

0.13014261971434243

In [20]:
# PROBABILIDADE DE RETIRAR PELO MENOS UMA MULHER NUM TOTAL DE 10 AMOSTRAS

p0 = 1 - binom.pmf(0,10,p)
p0

0.9998304692157152

In [21]:
# PROBABILIDADE DE RETIRAR MAIS DE DUAS MULHERES NUM TOTAL DE 10 AMOSTRAS

p1 = 1 - (binom.pmf(0,10,p)+binom.pmf(1,10,p)+binom.pmf(2,10,p))
p1

0.9829002893023236

In [22]:
# USANDO ACUMULATIVA
p1 = 1 - binom.cdf(2,10,p)
p1

0.9829002893023236

In [23]:
# PROBABILIDADE DE RETIRAR MAIS DO QUE 3 MULHERES NUM TOTAL DE 10 PESSOAS   (USANDO ACUMULATIVA)

p3 = 1 - binom.cdf(3,10,p)
p3

0.929117468512205

In [24]:
# PROBABILIDADE DE RETIRAR MAIS DO QUE 8 MULHERES NUM TOTAL DE 10 AMOSTRAS

p4 = binom.cdf(10,10,p) - binom.cdf(8,10,p)
p4

0.03565630595957381

In [25]:
# OUTRA FORMA (MELHOR FORMA)
p4 = binom.pmf(9,10,p)+binom.pmf(10,10,p)
p4

0.0356563059595738

## DISTRIBUIÇÃO GEOMÉTRICA

In [26]:
from scipy.stats import geom

In [27]:
# PROBABILIDADE DE RETIRAR UMA MULHER NA QUARTA TENTATIVA
# geom.pmf(x,p) x representa a tentativa que se obteve sucesso e p a probabilidade

geom.pmf(4, p)

0.042898029955685306

## DISTRIBUIÇÃO DE POISSON

In [28]:
from scipy.stats import poisson

In [29]:
poisson.pmf(2,5)

0.08422433748856832

In [31]:
# EXATAMENTE 2 PMF
# ATE DUAS cmf

## DISTRIBUIÇÃO CONTÍNUA

In [32]:
from scipy.stats import norm

In [33]:
norm.cdf(4.5, loc=4.8, scale=0.5)

0.27425311775007366

###QUAL A PROBABILIDADE DE SORTEAR UMA PESSOA COM IDADE INFERIOR A 17 ANOS NO ENEM 2019? CONSIDERANDO DISTRIBUIÇÃO NORMAL

In [34]:
enem_sp.IDADE.mean()

20.593387206464776

In [35]:
enem_sp.IDADE.std()

6.465291136134407

In [36]:
norm.cdf(17, loc=enem_sp.IDADE.mean(), scale=enem_sp.IDADE.std())

0.28917493520708704

##QUAL A PROBABILIDADE DE SORTEAR UMA PESSOA COM IDADE SUPERIOR A 50 ANOS NO ENEM 2019?

In [37]:
from scipy.stats import norm

mean_idade = enem_sp.IDADE.mean()
std_idade = enem_sp.IDADE.std()

probabilidade = 1 - norm.cdf(50, loc=mean_idade, scale=std_idade)

print(probabilidade)

2.702999116643845e-06

In [38]:
sup = 1 - (norm.cdf(50, loc=enem_sp.IDADE.mean(), scale=enem_sp.IDADE.std()))
sup

2.702999116643845e-06

##QUAL A PROBABILIDADE DE SORTEAR UMA PESSOA COM IDADE ENTRE 20 E 30 ANOS NO ENEM 2019?

In [39]:
entre = - (norm.cdf(50, loc=enem_sp.IDADE.mean(), scale=enem_sp.IDADE.std()))
entre

-0.9999972970008834